root = true

# noinspection EditorConfigKeyCorrectness
[*.{kt,kts}]

indent_size = 4
insert_final_newline = true
end_of_line = lf

ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_comment-wrapping = disabled
ktlint_standard_if-else-wrapping = disabled
ktlint_standard_discouraged-comment-location = disabled
ktlint_standard_max-line-length = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_string-template-indent = disabled